<p id="notice"><%= notice %></p>
<b>Logado como:</b> <%= current_user.email %> | <b><%= link_to " logout ", :destroy_user_session, method: :delete %> </b>
<br>
<br>
<%= link_to '[ CRIAR NOVA LISTA ]', new_list_path %>

<h1>Minhas Listas</h1>

<table>
  <thead>
    <tr>
      <th>Nome da Lista |</th>
      <th> Tarefas |</th>
      <th> Privacidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td><%= list.tasks.count %></td>
        <td><%= list.public ? "Publica" : "Privada" %></td>
        <td><%= link_to '[ Mostrar |', list %></td>
        <td><%= link_to ' | Editar |', edit_list_path(list) %></td>
        <td><%= link_to '| Deletar ]', list, method: :delete, data: { confirm: 'Tem certeza que deseja deletar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h1>Listas Publicas</h1>
<table>
  <thead>
    <tr>
      <th>Nome da Lista |</th>
      <th> Tarefas |</th>
      <th> Privacidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @public_lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td><%= list.tasks.count %></td>
        <td><%= list.public ? "Publica" : "Privada" %></td>
        <td><%= link_to '[ Mostrar |', list %></td>

      </tr>
    <% end %>
  </tbody>
</table>





<br>




