<p id="notice"><%= notice %></p>
 

<p>
  <strong>Nome da Lista:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Publico:</strong>
  <%= @list.public %>
</p>



<% @list.tasks.each do |task| %>
	<% task.done ? "Feito" : "Pendente" %>
	
<% end %>


<%= link_to 'Editar', edit_list_path(@list) if @list.user == current_user %> | 
<%= link_to 'Voltar', lists_path %>
