<p id="notice"><%= notice %></p>
 

<p>
  <strong>Nome da Lista:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Publico:</strong>
  <%= @list.public %>

</p>



<%= link_to 'Editar', edit_list_path(@list) %> |
<%= link_to 'Voltar', lists_path %>
