<p id="notice"><%= notice %></p>

<b>Logado como:</b> <%= current_user.email %> | <b><%= link_to " logout ", :destroy_user_session, method: :delete %> </b>

<h1>Listing Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Nome da tarefa: </th>
      <th>Feita</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.done ? "Feita" : "Pendente" %></td>

        <td><%= link_to '[ Mostrar |', task %></td>
        <td><%= link_to ' | Editar |', edit_task_path(task) %></td>
        <td><%= link_to '| Deletar ]', task, method: :delete, data: { confirm: 'Tem certeza que deseja deletar?' } %></td>

       
      </tr>
    <% end %>
  </tbody>
</table>



<br>

<%= link_to 'Voltar para Listas', lists_path %>
