<p id="notice"><%= notice %></p>

 <p><b>Logado como:</b> <%= current_user.email %></p>

<p>
  <strong>Nome da tarefa:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Feito:</strong>
  <%= @task.done ? "Feita" : "Pendente" %>
</p>

<p>
  <strong>Task:</strong>
  <%= @task.id %>
</p>



<%= link_to 'Editar', edit_task_path(@task) %> |
<%= link_to 'Voltar', tasks_path %>
